<html>
<head>
  <title>Blog da Amanda</title>
</head>
<body>
  <h1>Primeiro blog da Amanda</h1>
  <h2>Tá funcionando!!</h2>
  <h3>Ok, chega de sub-títulos</h3>
  <p>Hi there!</p>
  <strong>It Works!</strong>
  <div>
      <h1><a href="/">Django Girls Blog</a></h1>
  </div>

  {% for post in posts %}
      <div>
          <p>publicado em: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}
</body>
</html>
